<!-- Footer -->
<div class="footer-container">
    <footer id="footer"  class="container">
        <div class="row"><!-- Block categories module -->
            <section class="blockcategories_footer footer-block col-xs-12 col-sm-2">
                <h4>Категории</h4>
                <div class="category_footer toggle-footer">
                    <div class="list">
                        <ul class="tree dhtml">

                            <li >
                                <a
                                        href="http://vach-plotnik.ru/ru/tumby" title="Наши тумбы из дерева красивые и практичные, как и любая другая мебель, изготовленная из натуральной
 древесины, они обладают уникальностью, из-за разной текстуры древесины.
 Плюс в отличие от мебели из ДСП, она в принципе не может выделять
 вредных примесей, это особенно важно, учитывая
 что тумбы часто ставятся, около кроватей и диванов.
 Мы используем только качественную, надежную фурнитуру,
 Так же на на всех моделях мы устанавливаем автодоводчики.">
                                    Тумбы
                                </a>
                            </li>



                            <li >
                                <a
                                        href="http://vach-plotnik.ru/ru/stoly" title="Рады предложить вам прочные и надежные столы для сада, дачи или загородного дома.
 Столы сделаны из хороших, качественных материалов,
 Их основа это массив северной сосны,
 Крепежом служат оцинкованные конфирматы и болты.
 Наши столы очень прочны и выдерживают огромные нагрузки
 Их высота и конструкция подобраны так, что бы за ними было удобно сидеть

 Если вы закажете стол без покрытия, то он отлично подойдет для бани или сауны!">
                                    Столы
                                </a>
                            </li>



                            <li class="last">
                                <a
                                        href="http://vach-plotnik.ru/ru/lavki-i-skamejki" title="Наши лавки и скамейки идеально подходят для частного дома, дачи, сада,
 или бани. Некоторые модели  отлично впишутся и в интерьер квартиры.
 Основа лавок и скамеек - массив сосны,
 лавки из массива сосны долговечны и имеют хорошо выраженную структуру.
 Все лавки сделаны с повышенным запасом прочности
 и прослужат вам много лет.

 У нас есть модели созданные специально для бани!">
                                    Лавки и скамейки
                                </a>
                            </li>


                        </ul>
                    </div>
                </div> <!-- .category_footer -->
            </section>
            <!-- /Block categories module -->
            <!-- Block CMS module footer -->
            <section class="footer-block col-xs-12 col-sm-2" id="block_various_links_footer">
                <h4>Информация</h4>
                <ul class="toggle-footer">
                    <li class="item">
                        <a href="http://vach-plotnik.ru/ru/prices-drop" title="Скидки">
                            Скидки
                        </a>
                    </li>
                    <li class="item">
                        <a href="http://vach-plotnik.ru/ru/contact-us" title="Свяжитесь с нами">
                            Свяжитесь с нами
                        </a>
                    </li>
                    <li class="item">
                        <a href="http://vach-plotnik.ru/ru/content/1-delivery" title="Доставка и оплата">
                            Доставка и оплата
                        </a>
                    </li>
                    <li class="item">
                        <a href="http://vach-plotnik.ru/ru/content/4-about-us" title="О компании">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a href="http://vach-plotnik.ru/ru/sitemap" title="Карта сайта">
                            Карта сайта
                        </a>
                    </li>
                </ul>

            </section>
            <!-- /Block CMS module footer -->
            <!-- Block myaccount module -->
            <section class="footer-block col-xs-12 col-sm-4">
                <h4><a href="http://vach-plotnik.ru/ru/my-account" title="Управление моей учетной записью" rel="nofollow">Моя учетная запись</a></h4>
                <div class="block_content toggle-footer">
                    <ul class="bullet">
                        <li><a href="http://vach-plotnik.ru/ru/order-history" title="Мои заказы" rel="nofollow">Мои заказы</a></li>
                        <!--		<li><a href="http://vach-plotnik.ru/ru/order-slip" title="Мои платёжные квитанции" rel="nofollow">Мои платёжные квитанции</a></li> -->
                        <li><a href="http://vach-plotnik.ru/ru/addresses" title="Мои данные" rel="nofollow">Мои данные</a></li>
                        <!--		<li><a href="http://vach-plotnik.ru/ru/identity" title="Управление моими персональными данными" rel="nofollow">Моя личная информация</a></li> -->

                    </ul>
                </div>
            </section>
            <!-- /Block myaccount module -->
            <!-- MODULE Block contact infos -->
            <section id="block_contact_infos" class="footer-block col-xs-12 col-sm-4">
                <div>
                    <h4 id="block_contact_infos_une">Контактная информация</h4>
                    <ul class="toggle-footer">
                        <li>
                            <i class="icon-map-marker"></i>ИП Никулин И.И.,  ул. Энергетиков-3            	</li>
                        <li>
                            <i class="icon-phone"></i>Звоните нам:
                            <span>8 (996) 589-10-71</span>
                        </li>
                        <li>
                            <i class="icon-envelope-alt"></i>E-mail:
                            <span><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6f%66%66%69%63%65@%76%61%63%68-%70%6c%6f%74%6e%69%6b.%72%75" >&#x6f;&#x66;&#x66;&#x69;&#x63;&#x65;&#x40;&#x76;&#x61;&#x63;&#x68;&#x2d;&#x70;&#x6c;&#x6f;&#x74;&#x6e;&#x69;&#x6b;&#x2e;&#x72;&#x75;</a></span>
                        </li>
                    </ul>
                </div>
            </section>
    </footer>
</div><!-- #footer -->


<!-- Footer -->
<div class="footer-container">
    <footer id="footer"  class="container">
        <div class="row"><!-- Block categories module -->
            <section class="blockcategories_footer footer-block col-xs-12 col-sm-2">
                <h4>Категории</h4>
                <div class="category_footer toggle-footer">
                    <div class="list">
                        <ul class="tree dhtml">

                            <li >
                                <a
                                        href="http://vach-plotnik.ru/ru/tumby" title="Наши тумбы из дерева красивые и практичные, как и любая другая мебель, изготовленная из натуральной
 древесины, они обладают уникальностью, из-за разной текстуры древесины.
 Плюс в отличие от мебели из ДСП, она в принципе не может выделять
 вредных примесей, это особенно важно, учитывая
 что тумбы часто ставятся, около кроватей и диванов.
 Мы используем только качественную, надежную фурнитуру,
 Так же на на всех моделях мы устанавливаем автодоводчики.">
                                    Тумбы
                                </a>
                            </li>



                            <li >
                                <a
                                        href="http://vach-plotnik.ru/ru/stoly" title="Рады предложить вам прочные и надежные столы для сада, дачи или загородного дома.
 Столы сделаны из хороших, качественных материалов,
 Их основа это массив северной сосны,
 Крепежом служат оцинкованные конфирматы и болты.
 Наши столы очень прочны и выдерживают огромные нагрузки
 Их высота и конструкция подобраны так, что бы за ними было удобно сидеть

 Если вы закажете стол без покрытия, то он отлично подойдет для бани или сауны!">
                                    Столы
                                </a>
                            </li>



                            <li class="last">
                                <a
                                        href="http://vach-plotnik.ru/ru/lavki-i-skamejki" title="Наши лавки и скамейки идеально подходят для частного дома, дачи, сада,
 или бани. Некоторые модели  отлично впишутся и в интерьер квартиры.
 Основа лавок и скамеек - массив сосны,
 лавки из массива сосны долговечны и имеют хорошо выраженную структуру.
 Все лавки сделаны с повышенным запасом прочности
 и прослужат вам много лет.

 У нас есть модели созданные специально для бани!">
                                    Лавки и скамейки
                                </a>
                            </li>


                        </ul>
                    </div>
                </div> <!-- .category_footer -->
            </section>
            <!-- /Block categories module -->
            <!-- Block CMS module footer -->
            <section class="footer-block col-xs-12 col-sm-2" id="block_various_links_footer">
                <h4>Информация</h4>
                <ul class="toggle-footer">
                    <li class="item">
                        <a href="http://vach-plotnik.ru/ru/prices-drop" title="Скидки">
                            Скидки
                        </a>
                    </li>
                    <li class="item">
                        <a href="http://vach-plotnik.ru/ru/contact-us" title="Свяжитесь с нами">
                            Свяжитесь с нами
                        </a>
                    </li>
                    <li class="item">
                        <a href="http://vach-plotnik.ru/ru/content/1-delivery" title="Доставка и оплата">
                            Доставка и оплата
                        </a>
                    </li>
                    <li class="item">
                        <a href="http://vach-plotnik.ru/ru/content/4-about-us" title="О компании">
                            О компании
                        </a>
                    </li>
                    <li>
                        <a href="http://vach-plotnik.ru/ru/sitemap" title="Карта сайта">
                            Карта сайта
                        </a>
                    </li>
                </ul>

            </section>
            <!-- /Block CMS module footer -->
            <!-- Block myaccount module -->
            <section class="footer-block col-xs-12 col-sm-4">
                <h4><a href="http://vach-plotnik.ru/ru/my-account" title="Управление моей учетной записью" rel="nofollow">Моя учетная запись</a></h4>
                <div class="block_content toggle-footer">
                    <ul class="bullet">
                        <li><a href="http://vach-plotnik.ru/ru/order-history" title="Мои заказы" rel="nofollow">Мои заказы</a></li>
                        <!--		<li><a href="http://vach-plotnik.ru/ru/order-slip" title="Мои платёжные квитанции" rel="nofollow">Мои платёжные квитанции</a></li> -->
                        <li><a href="http://vach-plotnik.ru/ru/addresses" title="Мои данные" rel="nofollow">Мои данные</a></li>
                        <!--		<li><a href="http://vach-plotnik.ru/ru/identity" title="Управление моими персональными данными" rel="nofollow">Моя личная информация</a></li> -->

                    </ul>
                </div>
            </section>
            <!-- /Block myaccount module -->
            <!-- MODULE Block contact infos -->
            <section id="block_contact_infos" class="footer-block col-xs-12 col-sm-4">
                <div>
                    <h4 id="block_contact_infos_une">Контактная информация</h4>
                    <ul class="toggle-footer">
                        <li>
                            <i class="icon-map-marker"></i>ИП Никулин И.И.,  ул. Энергетиков-3            	</li>
                        <li>
                            <i class="icon-phone"></i>Звоните нам:
                            <span>8 (996) 589-10-71</span>
                        </li>
                        <li>
                            <i class="icon-envelope-alt"></i>E-mail:
                            <span><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6f%66%66%69%63%65@%76%61%63%68-%70%6c%6f%74%6e%69%6b.%72%75" >&#x6f;&#x66;&#x66;&#x69;&#x63;&#x65;&#x40;&#x76;&#x61;&#x63;&#x68;&#x2d;&#x70;&#x6c;&#x6f;&#x74;&#x6e;&#x69;&#x6b;&#x2e;&#x72;&#x75;</a></span>
                        </li>
                    </ul>
                </div>
            </section>
    </footer>
</div><!-- #footer -->