
<!DOCTYPE HTML>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="ru-ru"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="ru-ru"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="ru-ru"><![endif]-->
<!--[if gt IE 8]> <html class="no-js ie9" lang="ru-ru"><![endif]-->
<html lang="ru-ru">
{%  include 'basis/basis_head.html.twig' %}
<body id="index" class="index hide-left-column hide-right-column lang_ru">
<div id="page">
    {%  include 'basis/basis_header.html.twig' %}
    {% block content %}{% endblock %}
    {%  include 'basis/basis_footer.html.twig' %}
</div><!-- #page -->

</script>
<link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/global.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/autoload/highdpi.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/autoload/responsive-tables.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/autoload/uniform.default.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/product_list.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/blockbestsellers/blockbestsellers.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/blockcart/blockcart.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/js/jquery/plugins/bxslider/jquery.bxslider.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/blockcategories/blockcategories.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/blockcontact/blockcontact.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/blockmyaccountfooter/blockmyaccount.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/blocknewproducts/blocknewproducts.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/blocktopmenu/css/blocktopmenu.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/blocktopmenu/css/superfish-modified.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/blockuserinfo/blockuserinfo.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/blockviewed/blockviewed.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/homefeatured/homefeatured.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/modules/themeconfigurator/css/hooks.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/themes/default-bootstrap/css/modules/productcomments/productcomments.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/modules/bannerhtml/views/css/bannerhtml.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/modules/blockstickersbobs/views/css/stickers.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://vach-plotnik.ru/modules/blockheaderboxlabel/blockheaderboxlabel.css" type="text/css" media="all" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600&amp;subset=latin,latin-ext" type="text/css" media="all" />
    </body></html>