<div class="header-container">
    <header id="header">
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="bannerhtml"
                         style="display: none;
                 cursor: pointer;"
                         title=""
                    >
                        <div id="bannerhtml_sir"              onclick="document.location = '                 http://vach-plotnik.ru/'">
                            <div id="bannerhtml_sub">
                                <p style="text-align:center;">Новое поступление  -  скамейка Санкт-Петербург!</p>
                            </div>
                        </div>

                        <p  id="close_banner" >Закрыть Х</p>     </div>




                </div>
            </div>
        </div>
        <div class="nav">
            <div class="container">
                <div class="row">
                    <nav><!-- Block user information module NAV  -->
                        <div class="header_user_info">
                            <a class="login" href="http://vach-plotnik.ru/ru/my-account" rel="nofollow" title="Войти в учетную запись">
                                Войти
                            </a>
                        </div>
                        <!-- /Block usmodule NAV -->






                        <div id="contact-link" >
                            <a href="http://vach-plotnik.ru/ru/contact-us" title="Свяжитесь с нами">Свяжитесь с нами</a>
                        </div>
                        <span class="shop-phone">
		<i class="icon-phone"></i>Звоните нам: <strong>8 (996) 589-10-71</strong>
	</span>

                        <span class="shop-mail">
            		<i class="icon-envelope-alt"></i> <span>Пишите нам: </span>
            <span> <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%6f%66%66%69%63%65@%76%61%63%68-%70%6c%6f%74%6e%69%6b.%72%75" >&#x6f;&#x66;&#x66;&#x69;&#x63;&#x65;&#x40;&#x76;&#x61;&#x63;&#x68;&#x2d;&#x70;&#x6c;&#x6f;&#x74;&#x6e;&#x69;&#x6b;&#x2e;&#x72;&#x75;</a> </span>
            	</span>
                    </nav>
                </div>
            </div>
        </div>
        <div>
            <div class="container frontus">
                <div class="row">
                    <div id="header_logo">
                        <a href="http://vach-plotnik.ru/" title="Ваш Плотник">
                            <div id="logo_html">
                                <span>Ваш <br> плотник</span>
                            </div>
                            <!-- <img class="logo img-responsive" src="http://vach-plotnik.ru/img/gfhds-fgdsads-logo-1472412433.jpg" alt="Ваш Плотник" width="165" height="80"/> -->
                        </a>
                    </div>





                    <div class="blockheaderboxlabel header_logo" id="blockheaderboxlabel">
                        <div class="blockheaderboxlabel" id="blockheaderboxlabel_sub">
                            <h3 style="text-align:center;">Магазин мебели из дерева от производителя, готовая и на заказ.</h3>
                            <div>
                                <div style="text-align:left;"><strong>Гибкость.</strong> Почти для каждой модели вы можете выбрать длину, высоту и вид покраски. Так же если вам нужна скамейка с тремя ножками или длиной три метра, то мы легко сделаем эти изменения для вас. </div>
                                <div style="text-align:left;"><strong>Надежность.</strong> Всю нашу мебель, мы делаем с большим запасом прочности, она будет служить вам долгие годы.</div>
                            </div>
                            <div>
                                <div style="text-align:left;"><strong>Открытость.</strong> Множество фотографий в каждой позиции, со всех возможных ракурсов и подробнейшее описание помогут вам сделать правильный выбор.</div>
                                <div style="text-align:left;"><strong>Безопасность.</strong> Все расчеты производятся через Pay2Pay, это защищает вас от любых форс-мажоров. <a href="/content/1-delivery#Oplata">Подробнее.</a></div>
                            </div>
                        </div>
                    </div>
                    <!-- MODULE Block cart -->
                    <div class="col-sm-4 clearfixed" id="header_korzina">
                        <div class="shopping_cart">
                            <a href="http://vach-plotnik.ru/ru/quick-order" title="Просмотр корзины" rel="nofollow">
                                <b>Корзина</b>
                                <span class="ajax_cart_quantity">1</span>
                                <span class="ajax_cart_product_txt">товар</span>
                                <span class="ajax_cart_product_txt_s unvisible">Товары</span>
                                <span class="ajax_cart_total">
																					2 910,00 руб
												</span>
                                <span class="ajax_cart_no_product unvisible">(пусто)</span>
                            </a>
                            <div class="cart_block block exclusive">
                                <div class="block_content">
                                    <!-- block list of products -->
                                    <div class="cart_block_list">
                                        <dl class="products">
                                            <dt data-id="cart_block_product_19_3991_0" class="first_item">
                                                <a class="cart-images" href="http://vach-plotnik.ru/ru/stoly/19-stol-oktavian" title="Стол Октавиан"><img src="http://vach-plotnik.ru/265-cart_default/stol-oktavian.jpg" alt="Стол Октавиан" /></a>
                                                <div class="cart-info">
                                                    <div class="product-name">
                                                        <span class="quantity-formated"><span class="quantity">1</span>&nbsp;x&nbsp;</span><a class="cart_block_product_name" href="http://vach-plotnik.ru/ru/stoly/19-stol-oktavian#/pokrytie-morilka_pod_listvennicu_bescvetnyj_lak" title="Стол Октавиан">Стол Октавиан</a>
                                                    </div>
                                                    <div class="product-atributes">
                                                        <a href="http://vach-plotnik.ru/ru/stoly/19-stol-oktavian#/pokrytie-morilka_pod_listvennicu_bescvetnyj_lak" title="Подробно о товаре">Покрытие: Морилка под Лиственницу+ Бесцветный лак</a>
                                                    </div>
                                                    <span class="price">
																									2 910,00 руб                                                    <div class="hookDisplayProductPriceBlock-price">

                                                    </div>
																							</span>
                                                </div>
                                                <span class="remove_link">
																							<a class="ajax_cart_block_remove_link" href="http://vach-plotnik.ru/ru/cart?delete=1&amp;id_product=19&amp;ipa=3991&amp;id_address_delivery=0&amp;token=ef8291cea0686e88adcdf41b6011ab96" rel="nofollow" title="удалить товар из корзины">&nbsp;</a>
																					</span>
                                            </dt>
                                            <dd data-id="cart_block_combination_of_19_3991_0" class="first_item">
                                                <!-- Customizable datas -->
                                            </dd>															</dl>
                                        <p class="cart_block_no_products unvisible">
                                            Нет товаров
                                        </p>
                                        <div class="cart-prices">
                                            <!--	<div class="cart-prices-line first-line">
                                                    <div class="price cart_block_shipping_cost ajax_cart_shipping_cost unvisible">
                                       Доставка бесплатна! Сумма заказа более 2512,00 рублей.
                                                    </div>
                                                </div> -->
                                            <div class="cart-prices-line last-line">
                                                <span class="price cart_block_total ajax_block_cart_total">2 910,00 руб</span>
                                                <span>Итого, к оплате:</span>
                                            </div>
                                        </div>
                                        <p class="cart-buttons">
                                            <a id="button_order_cart" class="btn btn-default button button-small" href="http://vach-plotnik.ru/ru/quick-order" title="Оформить заказ" rel="nofollow">
								<span>
									Оформить заказ<i class="icon-chevron-right right"></i>
								</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div><!-- .cart_block -->
                        </div>
                    </div>

                    <div id="layer_cart">
                        <div class="clearfix">
                            <div class="layer_cart_product col-xs-12 col-md-6">
                                <span class="cross" title="Закрыть окно"></span>
                                <span class="title">
					<i class="icon-check"></i>Товар добавлен в корзину
				</span>
                                <div class="product-image-container layer_cart_img">
                                </div>
                                <div class="layer_cart_product_info">
                                    <span id="layer_cart_product_title" class="product-name"></span>
                                    <span id="layer_cart_product_attributes"></span>
                                    <div>
                                        <strong class="dark">Количество</strong>
                                        <span id="layer_cart_product_quantity"></span>
                                    </div>
                                    <div>
                                        <strong class="dark">Итого, к оплате:</strong>
                                        <span id="layer_cart_product_price"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="layer_cart_cart col-xs-12 col-md-6">
				<span class="title">
					<!-- Plural Case [both cases are needed because page may be updated in Javascript] -->
					<span class="ajax_cart_product_txt_s  unvisible">
						Товаров в корзине: <span class="ajax_cart_quantity">1</span>.
					</span>
                    <!-- Singular Case [both cases are needed because page may be updated in Javascript] -->
					<span class="ajax_cart_product_txt ">
						Сейчас в корзине 1 товар.
					</span>
				</span>
                                <div class="layer_cart_row">
                                    <strong class="dark">
                                        Стоимость:
                                    </strong>
                                    <span class="ajax_block_products_total">
													2 910,00 руб
											</span>
                                </div>

                                <div class="layer_cart_row">
                                    <strong class="dark unvisible">
                                        Доставка:&nbsp;					</strong>
                                    <span class="ajax_cart_shipping_cost unvisible">
													 Определить											</span>
                                </div>
                                <div class="layer_cart_row">
                                    <strong class="dark">
                                        Итого, к оплате:
                                    </strong>
                                    <span class="ajax_block_cart_total">
																					2 910,00 руб
																		</span>
                                </div>
                                <div class="button-container">
					<span class="continue btn btn-default button exclusive-medium" title="Продолжить покупки">
						<span>
							<i class="icon-chevron-left left"></i>Продолжить покупки
						</span>
					</span>
                                    <a class="btn btn-default button exclusive-medium"	href="http://vach-plotnik.ru/ru/quick-order" title="Оформить заказ" rel="nofollow">
						<span>
							Оформить заказ
						</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="crossseling"></div>
                    </div> <!-- #layer_cart -->
                    <div class="layer_cart_overlay"></div>

                    <!-- /MODULE Block cart -->
                    <!-- Menu -->
                    <div id="block_top_menu" class="sf-contener clearfix col-lg-12">
                        <div class="cat-title">Меню</div>
                        <ul class="sf-menu clearfix menu-content">
                            <li><a class="a-hor-menu" href="http://vach-plotnik.ru/ru/lavki-i-skamejki" title="Лавки и скамейки"><img class="image-hor-menu" src="/img/skameika.png" alt="no picture"><img class="image-hor-menu" src="/img/lavka.png" alt="no picture"><strong> </strong>Лавки и скамейки</a></li><li><a class="a-hor-menu" href="http://vach-plotnik.ru/ru/stoly" title="Столы"><img class="image-hor-menu" src="/img/stol.png" alt="no picture"><strong> </strong>Столы</a></li><li><a class="a-hor-menu" href="http://vach-plotnik.ru/ru/tumby" title="Тумбы"><img class="image-hor-menu" src="/img/tumba.png" alt="no picture"><strong> </strong>Тумбы</a></li>
                        </ul>
                    </div>
                    <!--/ Menu -->

                </div>
            </div>
        </div>
    </header>
</div>